<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS - Trading in Tables</title>

    <style>
        table,th,td {
            border: 1px solid #999;
            border-collapse: collapse;
            padding: 8px;
        }
        table tbody tr:nth-child(even){
            background-color : green;
        }
        table tbody tr:nth-child(odd){
            background-color : red;
        }
    </style>

    <link rel="icon" type="image/x-icon" href="images/angular-js.ico">

    <script src="js/angular.min.js"></script>

</head>

<body>

    <div ng-app = "myAngular" ng-controller = "serviceControl">
        <table>
            <thead>
                <tr>
                    <th>Sorting</th>
                    <th>Name</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "x in Results | orderBy:'name'">
                    <td ng-if="odd" style="background-color: antiquewhite;">{{$index}}</td>
                    <td>{{$index}}</td>
                    <td ng-if="odd" style="background-color: antiquewhite;">{{x.name}}</td>
                    <td>{{x.name}}</td>
                    <td ng-if="odd" style="background-color: antiquewhite;">{{x.languages}}</td>
                    <td>{{x.languages | uppercase}}</td>
                 </tr>
            </tbody>
        </table>
    </div>


    <script src="js/app.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>

</body>

</html>